:root {
  --radius: 20px;
}
.createPost {
  display: flex;
  justify-content: center;
  align-items: center;
}
.createPostContainer {
  position: relative;
  top: 100px;
  background-color: white;
  height: 400px;
  width: 800px;
  border-radius: var(--radius);
}
.cpImageContainer {
  background-color: rgb(219, 218, 218);
  margin: -260px 25px 25px 25px;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  border-radius: var(--radius);
}
#cP {
  position: relative;
  left: 500px;
  top: 30px;

  width: fit-content;
}
.cpCommentBox {
  display: flex;

  width: 45%;
  height: fit-content;
  margin-left: 420px;
  margin-top: 50px;
}
#comment {
  display: table-column;
  height: 200px;
  background-color: rgb(219, 218, 218);
  border-style: none;
  width: 100%;
  resize: none;
  font-size: large;
}
#submitPost {
  border-style: none;
  width: 45%;
  height: 10%;
  position: relative;
  margin-left: 420px;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: var(--violet2);
  top: -20%;
}
#submitPost:hover {
  background-color: var(--violet3);
}
#dp {
  display: none;
}
.cpImage {
  background-color: transparent;
  margin: 25px 0px 25px 0px;
  height: 350px;
  width: 350px;
  border-radius: var(--radius);
  border-style: none;
  z-index: 1;
  color: gray;
}
#imageCover {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 253, 253, 0.212);
  height: 350px;
  width: 350px;
  position: relative;
  top: -100%;
  z-index: 2;
  margin: -15px 25px 25px 25px;
  border-radius: var(--radius);
}
#imageCover:hover {
  opacity: 1;
}
