.Profile {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

.ProfileBanner {
  width: 1000px;
  height: 50vh;
  margin: 30px auto;
  padding: 0 100px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.ProfileBanner .profilePicContainer {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(221, 221, 221);
  margin-right: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileBanner .profileBannerContent {
  height: 85%;
}

.profileBannerContent .bio {
  margin-top: 50px;
}

.profileBannerContent .bio .bioText {
  width: 350px;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid white;
  color: black;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
}

.profileBannerContent .username {
  width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid white;
  color: black;
  font-size: 0.8rem;
  border-radius: 10px;
  outline: none;
  font-size: 1.8rem;
}

.profileBannerContent .usernameEdit {
  width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border: 3px solid white;
  border-bottom: 3px solid var(--violet);
  color: rgb(110, 110, 110);
  font-size: 0.8rem;
  border-radius: 10px;
  outline: none;
  font-size: 1.8rem;
}

.profileBannerContent .bio .bioTextEdit {
  width: 350px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border: 3px solid white;
  border-bottom: 3px solid var(--violet);
  color: rgb(110, 110, 110);
  border-radius: 10px;
  outline: none;
  resize: none;
  font-size: 1.2rem;
}

.profileBannerContent .userInfo {
  display: flex;
}

.userInfo > * {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userInfoNum {
  font-size: 2rem;
}

.userInfoText {
  font-weight: 700;
  color: var(--violet);
  font-size: 1.2rem;
}

.currentUserPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileBannerLinkButton {
  width: 50px;
  height: 50px;
  background-color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.profileBannerLinkButton:hover {
  background-color: var(--violet2);
  box-shadow: 0 0 0 4px var(--violet2);
}

.profileBannerLinkButton > * {
  fill: white;
}

.profileBannerLinks {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 8%;
}

.profilePicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--violet);
}

.profilePicContainer .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 1rem;
}

.profilePicContainer .text .Image {
  fill: gray;
}

.profilePicContainer > img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.profilePicContainer .input {
  height: inherit;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 1);
  z-index: 8;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.profilePicContainer:hover .input {
  opacity: 1;
}

.profilePicContainer .input input {
  background-color: black;
  width: 100%;
  height: inherit;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.profilePicContainer .input .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.5;
}

.profilePicContainer .input .text .Image {
  fill: black;
}
