<body>
  <div class="header">
    <h1> Hello, <br>
      Now you are all set to use <span style="color:rgb(54, 20, 224) ;">Connect</span></h1>
  </div>
  <div class="intro">
    <p>
      Now you can complete your profile by clicking  on your default dp then on settings icon :)
  </p>
    <p>
      Centiconnect let's you to post Images and chat with your friends anytime and
      anyhere!
    </p>
    <p>
        here you can comment on a Post and like or dislike the Post
    </p>
    </div>
  </div>
  <div class="footer">
    <h4>With ❤️ from Centigrade</h4>
  </div>  
</body>


