.Home {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}
.createPostButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8%;
  right: 5%;
  box-shadow: 0 0 0 5px var(--violet);
  transition: all 200ms ease-in-out;
  text-align: center;
}

.createPostButton:hover {
  box-shadow: 0 0 0 5px var(--violet3);
}

.createPostButton .Plus {
  fill: var(--violet);
  transition: 200ms ease-in-out;
}

.createPostButton:hover .Plus {
  fill: var(--violet3);
}

.createPostFloat {
  position: absolute;
  top: -40px;
  width: 200%;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.createPostButton:hover .createPostFloat {
  opacity: 1;
}

.Home .posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
