:root {
  --postWidth: 800px;
  --imageDim: calc(var(--postWidth) * 0.625);
  --profileHeight: calc(var(--imageDim) * 0.125);
  --commentSectWidth: calc(var(--imageDim) * 0.75);
  --commentSectHeight: var(--imageDim);
  --padding10: calc(var(--imageDim) * 0.025);
  --fontSize: calc(var(--imageDim) * 0.031);
  --fontSize2: calc(var(--imageDim) * 0.034);
  --profilePicDim: calc(var(--imageDim) * 0.0875);
}

.Post {
  width: calc(var(--imageDim) + var(--commentSectWidth));
  height: calc(var(--imageDim) + var(--profileHeight));
  margin: calc(var(--padding10) * 2);
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  font-size: var(--fontSize);
  border: 4px solid white;
}

.Post .profile {
  width: 100%;
  height: var(--profileHeight);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.Post .profile .profileIcon {
  width: var(--profilePicDim);
  height: var(--profilePicDim);
  background-color: rgb(192, 192, 192);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 var(--padding10);
}

.Post .profile .profileIcon img {
  width: 100%;
  height: 100%;
}

.Post .profile .settings {
  position: absolute;
  right: var(--padding10);
}

.Post .imageSection {
  position: absolute;
  top: var(--profileHeight);
  left: 0;
  right: calc(100% - var(--imageDim));
  bottom: 0;
}

.Post .commentSection {
  position: absolute;
  height: var(--commentSectHeight);
  width: (var(--commentSectWidth));
  top: var(--profileHeight);
  left: var(--imageDim);
  right: 0;
  border-left: 1px solid rgb(235, 235, 235);
}

.Post .commentSection .comments {
  height: calc(var(--commentSectHeight) * 0.625);
  border-bottom: 1px solid rgb(235, 235, 235);
  overflow: scroll;
}

.Post .imageSection .imageContainer {
  width: var(--imageDim);
  height: var(--imageDim);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  position: relative;
}

.Post .imageSection .imageContainer img {
  /* max-width: var(--imageDim); */
  /* max-height: var(--imageDim); */
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  z-index: 10;
  user-select: none;
}

.Post .Post .ThreeDots {
  margin-top: 3px;
  fill: gray;
}

.Post .postLinks {
  display: flex;
  padding: calc(var(--padding10) / 2);
  font-size: var(--fontSize);
  height: calc(var(--commentSectHeight) * 0.075);
}

.Post .postLinks > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(var(--padding10) * 3);
}

.Post .postLinks .UpVote,
.Post .postLinks .DownVote {
  fill: gray;
  margin-right: calc(var(--padding10) / 2);
}

.Post .commentSection .comment {
  background-color: rgb(235, 235, 235);
  padding: var(--padding10);
  margin: var(--padding10);
  border-radius: var(--padding10);
}

.Post .addComment {
  height: calc(var(--commentSectHeight) * 0.11);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(235, 235, 235);
}

.Post .addComment textarea {
  width: 80%;
  height: 100%;
  padding: var(--padding10);
  resize: none;
  outline: none;
  border: none;
  font-size: var(--fontSize);
}

.Post .addComment textarea::placeholder {
  transform: translate(var(--padding10), calc(var(--padding10) / 2.3));
  font-size: var(--fontSize2);
  color: rgb(189, 189, 189);
}

.Post .addComment button {
  width: 20%;
  height: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  background-color: var(--violet);
  letter-spacing: 1px;
  cursor: pointer;
  font-size: var(--fontSize2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Post .addComment button:hover {
  background-color: var(--violet2);
}

.Post .description {
  height: calc(var(--commentSectHeight) * 0.25);
}

.Post .descriptionContent {
  height: calc(var(--commentSectHeight) * 0.2);
  overflow: scroll;
  padding: 0 calc(var(--padding10) / 2);
}

.Post .descriptionContent::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.Post .descriptionContent .profileName {
  font-weight: bold;
  margin-right: 10px;
}

.Post .imageSection .imageContainer .Loading {
  fill: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
