:root {
  --imageDim: 500px;
  --profileHeight: calc(var(--imageDim) * 0.125);
  --commentSectWidth: calc(var(--imageDim) * 0.75);
  --commentSectHeight: var(--imageDim);
  --padding10: calc(var(--imageDim) * 0.025);
  --fontSize: calc(var(--imageDim) * 0.031);
  --fontSize2: calc(var(--imageDim) * 0.034);
  --profilePicDim: calc(var(--imageDim) * 0.0875);
}

.Post {
  width: calc(var(--imageDim) + var(--commentSectWidth));
  height: calc(var(--imageDim) + var(--profileHeight));
  margin: calc(var(--padding10) * 2);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-size: var(--fontSize);
}

.profile {
  width: 100%;
  height: var(--profileHeight);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.profile .profileIcon {
  width: var(--profilePicDim);
  height: var(--profilePicDim);
  background-color: rgb(192, 192, 192);
  border-radius: 50%;
  margin: 0 var(--padding10);
}

.profile .settings {
  position: absolute;
  right: var(--padding10);
}

.imageSection {
  position: absolute;
  top: var(--profileHeight);
  left: 0;
  right: calc(100% - var(--imageDim));
  bottom: 0;
}
.commentSection {
  position: absolute;
  height: var(--commentSectHeight);
  width: (var(--commentSectWidth));
  top: var(--profileHeight);
  left: var(--imageDim);
  right: 0;
  border-left: 1px solid rgb(235, 235, 235);
}

.commentSection .comments {
  height: calc(var(--commentSectHeight) * 0.625);
  border-bottom: 1px solid rgb(235, 235, 235);
  overflow: scroll;
}

.imageSection .imageContainer {
  width: var(--imageDim);
  height: var(--imageDim);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}

.imageSection .imageContainer img {
  width: inherit;
  height: auto;
  z-index: 10;
  user-select: none;
}

.Post .ThreeDots {
  margin-top: 3px;
  fill: gray;
}

.postLinks {
  display: flex;
  padding: calc(var(--padding10) / 2);
  font-size: var(--fontSize);
  height: calc(var(--commentSectHeight) * 0.075);
}

.postLinks > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(var(--padding10) * 3);
}
.postLinks .UpVote,
.postLinks .DownVote {
  fill: gray;
  margin-right: calc(var(--padding10) / 2);
}

.commentSection .comment {
  background-color: rgb(235, 235, 235);
  padding: var(--padding10);
  margin: var(--padding10);
  border-radius: var(--padding10);
}

.addComment {
  height: calc(var(--commentSectHeight) * 0.125);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(235, 235, 235);
}
.addComment textarea {
  width: 80%;
  height: 100%;
  padding: var(--padding10);
  resize: none;
  outline: none;
  border: none;
  font-size: var(--fontSize);
}

.addComment textarea::placeholder {
  transform: translate(var(--padding10), calc(var(--padding10) / 2));
  font-size: var(--fontSize2);
}

.addComment button {
  width: 20%;
  height: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  background-color: var(--violet2);
  letter-spacing: 1px;
  cursor: pointer;
  font-size: var(--fontSize2);
}

.addComment button:hover {
  background-color: var(--violet3);
}

.description {
  height: calc(var(--commentSectHeight) * 0.25);
}

.descriptionContent {
  height: calc(var(--commentSectHeight) * 0.2);
  overflow: scroll;
  padding: 0 calc(var(--padding10) / 2);
}

.descriptionContent::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.descriptionContent .profileName {
  font-weight: bold;
}

.imageSection .imageContainer .Loading {
  fill: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
